---
import CTASection from '@/components/ui/marketing/CTA/CTA.astro';
import Button from '@/components/ui/form/Button/Button.astro';
import Icon from '@/components/ui/primitives/Icon/Icon.astro';
import Logo from '@/components/ui/marketing/Logo/Logo.astro';
import { ExternalLink } from '@/components/ui/content/ExternalLink';
---

<CTASection id="cta" variant="default" size="md" maxWidth="lg">
  <Logo slot="logo" size="2xl" class="mx-auto" />

  <h2 slot="heading">
    Explore more of: <span class="text-brand-700">Brighton and Co</span>
  </h2>

  <p slot="description">
    Brighton and Co Version 5 - built with Velocity.
  </p>

  <Fragment slot="actions">
    <ExternalLink
      client:load
      href="https://astro.build/themes/details/velocity/"
      showIndicator={false}
      className="inline-block"
    >
      <Button variant="outline" size="lg" class="pointer-events-none">
        <Icon name="book" size="md" />
        Velocity
      </Button>
    </ExternalLink>
    <ExternalLink
      client:load
      href="https://web.brightonandco.co.uk/"
      showIndicator={false}
      className="inline-block"
    >
      <Button variant="outline" size="lg" class="pointer-events-none">
        <Icon name="globe" size="md" />
        Visit OLD: Brighton and Co
      </Button>
    </ExternalLink>
  </Fragment>
</CTASection>